name: Node.js CI/CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run Test
        run: npm test

      #- name: Snyk Security Scan
       # uses: snyk/actions/node@master
       # env:
       #   SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      #  continue-on-error: true

      - name: Build Docker Image
        run: docker build -t dbajibran/nodejs-hello-world:${{ github.run_number }} .

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker Image
        run: |
          docker tag dbajibran/nodejs-hello-world:${{ github.run_number }} dbajibran/nodejs-hello-world:latest
          docker push dbajibran/nodejs-hello-world:latest
